@page "/realestate/add"
@inject IRealEstateHttpsRepository client
@using System.Security.Claims
@inject NavigationManager NavManager

<div class="page-container">
    <div class="inner-container">
        <div class="box-container">
            <EditForm Model="realEstate" OnValidSubmit="@HandleValidSubmit">
                <h3>Ny annons</h3>
                <hr>
                <DataAnnotationsValidator />
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="title">Titel</label>
                        <InputText id="title" class="form-control" @bind-Value="realEstate.Title" />
                        <ValidationMessage For="@(() => realEstate.Title)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="description">Beskrivning</label>
                        <InputTextArea id="description" class="form-control" @bind-Value="realEstate.Description" />
                        <ValidationMessage For="@(() => realEstate.Description)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="address">Adress</label>
                        <InputText id="address" class="form-control" @bind-Value="realEstate.Address" />
                        <ValidationMessage For="@(() => realEstate.Address)" />
                    </div>
                </div>
                <div class="form-row">
                    @*<div class="form-group col-md-6">
            <label for="realEstateType">Bostadstyp</label>
            <InputSelect id="realEstateType" class="form-control" @bind-Value="realEstate.Type">

                <option value="@EstateTypeEnum.Hus">Hus</option>
                <option value="@EstateTypeEnum.Lägenhet">Lägenhet</option>
                <option value="@EstateTypeEnum.Kontor">Kontor</option>
                <option value="@EstateTypeEnum.Lagerhus">Lagerlokal</option>
            </InputSelect>
            <ValidationMessage For="@(() => realEstate.Type)" />
        </div>*@
                    <div class="form-group col-md-6">
                        <label for="constructionYear">type</label>
                        <InputNumber id="constructionYear" class="form-control" @bind-Value="realEstate.Type" />
                        <ValidationMessage For="@(() => realEstate.Type)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="constructionYear">Byggnadsår</label>
                        <InputNumber id="constructionYear" class="form-control" @bind-Value="realEstate.ConstructionYear" />
                        <ValidationMessage For="@(() => realEstate.ConstructionYear)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="sellingPrice">Försäljningspris</label>
                        <InputNumber id="sellingPrice" class="form-control" @bind-Value="realEstate.SellingPrice" />
                        <ValidationMessage For="@(() => realEstate.SellingPrice)" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rentingPrice">Hyrespris</label>
                        <InputNumber id="rentingPrice" class="form-control" @bind-Value="realEstate.RentingPrice" />
                        <ValidationMessage For="@(() => realEstate.RentingPrice)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="contact">Kontaktperson</label>
                        <InputText id="contact" class="form-control" @bind-Value="realEstate.Contact" />
                        <ValidationMessage For="@(() => realEstate.Contact)" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md text-right">
                        <input type="submit" class="btn btn-success" value="Lägg till" />
                    </div>
                </div>
                <p class="message">@message</p>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private string message;
    private RealEstate realEstate = new RealEstate();
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (!authState.User.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/login");
        }
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("Bostaden har skickats!");

        var response =  await client.PostNewRealEstate(realEstate);
        if(response == null)
        {
            message = "Kunde inte lägga till annons";
        }
        else
        {
            NavManager.NavigateTo("realestate/add/success");
        }

    }
}
