@page "/realestate/{id:int}"
@using System.Net.Http.Json;
@inject IRealEstateHttpsRepository context
@inject NavigationManager NavManager


@using Entities.Models

@if (realEstate == null)
{
    <h1 class="h1 text-center">Ingen fastighet hittades</h1>
}
else
{
    
<div class="jumbotron jumbotron-fluid" style="height: 720px;
        background-image: url('@realEstate.ImageUrl');

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    ">
    <div class="text-center position-relative" style="top: 580px;">
        <a class="btn btn-primary btn-lg text-white">Alla bilder</a>
    </div>
</div>
    <div class="container w-75 mb-5" style="background-color:#f0eeec;">
        <div class="text-center">
            <h4>@realEstate.Address</h4>
            @*<h1 class="mb-3">@realEstate.Title</h1>*@
            @*  Använder denna tills vi har bättre Titlar *@
            <h1 class="mb-3">@realEstate.Title</h1>
            @if (realEstate.CanBeSold)
            {
                <h6 class="font-weight-bold">Till salu</h6>
                <h2 class="font-weight-bold">@realEstate.SellingPrice kr</h2>
            }
            else
            {
                <h6 class="font-weight-bold">Uthyrning</h6>
                <h2 class="font-weight-bold">@realEstate.RentingPrice kr/mån</h2>
            }
        </div>

        <div class="row text-center mt-3">
            <div class="col-md-6 p-4"><i class="fas fa-building"></i><i class="fas fa-home"></i>Typ av byggnad: @realEstate.Type</div>
            <div class="col-md-6 p-4"><i class="fas fa-hammer"></i>Byggår: @realEstate.ConstructionYear</div>
        </div>

        <div class="row text-center mt-1">
            <div class="col-md-6 p-4">Beskrivning: @realEstate.Description</div>
            <div @onclick="(e => RedirectToUserPage(realEstate.UserName))" class="col-md-6 p-4"><i class="fas fa-user"></i>Säljare: @realEstate.UserName</div>
        </div>

        <div>
            <AuthorizeView>
                <Authorized>
                    @*<p @onclick="(e=> RedirectToUserPage(realEstate.UserName))">Säljes av @realEstate.UserName</p>*@
                    <p>Kontakt: @realEstate.Contact</p>
                    <h3> Kommentarer: </h3>
                    <CascadingValue Value="@UserComments">
                        <ViewComments CurrentRealEstateID="@realEstate.Id">
                        </ViewComments>
                    </CascadingValue>
                </Authorized>
                <NotAuthorized>
                    <h3 class="text-center mt-3">Logga in för att se kommentarer</h3>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public RealEstate realEstate;
    public User user;
    public List<Comment> UserComments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await context.GetRealEstateById(Id);
            realEstate = response;
            if (realEstate.ImageUrl == null)
            {
                realEstate.ImageUrl = "https://photo.barnes-international.com/annonces/bms/38/xl/29-8z0zc-hutton-9.jpg";
            }
            
            if (realEstate.Comments != null)
            {
                UserComments = realEstate.Comments.Take(5).ToList();
            }
        }
        catch
        {

        }
    }
    private void RedirectToUserPage(string userName)
    {
        NavManager.NavigateTo("/getuser/" + userName);
    }

    //private async Task ViewMoreComments()
    //{
    //    int commentsToSkip = UserComments.Count;
    //    var response = await context.GetCommentsByRealEstateId(Id, commentsToSkip, 5);
    //    Console.WriteLine(commentsToSkip);
    //    UserComments.AddRange(response);
    //}
}
