@page "/realestates"
@using System.Net.Http.Json;
@inject IRealEstateHttpsRepository context

@using Entities.Models

<h3>RealEstates</h3>

@if (realEstates == null)
{
    <p>Loading.....</p>
}
else
{
    @*foreach (var estate in realEstates)
    {
        <div class="card">
            <h3>@estate.Title</h3>
            @if (estate.CanBeSold)
            {
                <p>Selling price: @estate.SellingPrice</p>
            }
            else
            {
                <p>Renting price : @estate.RentingPrice</p>
            }
        </div>
        <br />
        <p>Description : @estate.Description</p>
        <p>Adress : @estate.Address</p>
        <p>Construction year: @estate.ConstructionYear</p>
        <p>Realestate type : @estate.RealEstateType</p>

        <img src="@estate.ImageUrl" />
    }*@



    <div class="container">
        <div class="row">
            @foreach (var estate in realEstates)
            {
                <div class="card text-center m-4">
                    <div class="card-header">
                        @if (estate.CanBeSold)
                        {<p>For Sale</p> }
                        else
                        { <p>For rent</p>}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@estate.Title</h5>
                        @if (estate.CanBeSold)
                        {
                            <p class="card-body">Selling price: @estate.SellingPrice</p>
                        }
                        else
                        {
                            <p class="card-body">Renting price : @estate.RentingPrice per month</p>
                        }
                        <NavLink href="@($"realestate/{estate.Id}")" class="btn btn-primary">More Info</NavLink>
                    </div>
                </div>

            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int NumItems { get; set; }
    private IEnumerable<RealEstate> realEstates;

    protected override async Task OnInitializedAsync()
    {
        realEstates = await context.GetRealEstates();
    }


}
