@using System.Net.Http.Json;
@using Entities.Models
@inject IRealEstateHttpsRepository context
@inject NavigationManager NavManager


@if (realEstates == null)
{
    <p>Loading.....</p>
}
else
{
    foreach (var estate in FilteredEstates)
    {
        int price = 0;
        if (estate.CanBeSold)
            price = estate.SellingPrice;
        else
            price = estate.RentingPrice;
        string typeOfSale = "";
        @if (estate.CanBeSold)
        {
            typeOfSale = "Säljes";
        }
        else
        {
            typeOfSale = "Uthyres";
        }

        <div class="card-container">
            <div class="estate-card" @onclick="@(e => RedirectToEstate(estate.Id))">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&w=1000&q=80" alt="Bilden kunde inte visas" />
                </div>
                <div class="card-data">
                    <div>
                        <h4>@estate.Title</h4>
                        <p>@typeOfSale</p>
                        <p>@estate.Address</p>
                    </div>
                    <div class="card-data-row">
                        <div class="card-data-row-item">
                            <p>@estate.RealEstateType</p>
                        </div>
                        <div class="card-data-row-item">
                            <p>@price</p>
                        </div>
                        <div class="card-data-row-item">
                            <p>@estate.ConstructionYear</p>
                        </div>
                    </div>
                    <div class="card-data-row">
                        <p>@estate.Description</p>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int NumItems { get; set; }
    private IEnumerable<RealEstate> realEstates;
    [CascadingParameter]
    public SearchTerms searchTerms { get; set; }
    private List<RealEstate> FilteredEstates => FilterList();
    /// <summary>
    /// This runs everytime the cascading searchterm parameter is updated.
    /// </summary>
    /// <returns></returns>
    private List<RealEstate> FilterList()
    {
       
        List<RealEstate> tempEstates = realEstates.Where(
        
        i => searchTerms.TitleCheck ? i.Title.ToLower().Contains(searchTerms.Searchterm.ToLower()) : i.Title.Contains("") &&
        searchTerms.AdressCheck ? i.Address.ToLower().Contains(searchTerms.Searchterm.ToLower()) : i.Address.Contains("") &&
        //todo: En bug när man söker på både adress och type så får man ibland inga resulat. "apartment" funkar för type men inte för type och adress.
        searchTerms.TypeCheck ? i.RealEstateType.ToLower().Contains(searchTerms.Searchterm.ToLower()) : i.RealEstateType.Contains("")
        ).ToList();

        if (searchTerms.OrderBy == OrderAlternatives[0])
        {
            tempEstates = tempEstates.OrderBy(x => x.SellingPrice).ToList();
        }
        else if (searchTerms.OrderBy == OrderAlternatives[1])
        {
            tempEstates = tempEstates.OrderBy(x => x.RentingPrice).ToList();
        }
        else if (searchTerms.OrderBy == OrderAlternatives[2])
        {
            tempEstates = tempEstates.OrderBy(x => x.Title).ToList();
        }
        else
        {
            tempEstates = tempEstates.OrderBy(x => x.Address).ToList();
        }
        return tempEstates;
    }
    public List<string> OrderAlternatives { get; set; } = new List<string> {
        "Hyra",
        "Säljpris",
        "Titel",
        "Adress"
       };

    protected override async Task OnInitializedAsync()
    {
        realEstates = await context.GetRealEstates();
    }

    private void RedirectToEstate(int id)
    {
        NavManager.NavigateTo("/realestate/" + id);
    }
}
